{% extends 'base.html' %}

{% block content %}
    <div class="w3-bar w3-green">
        <a class="w3-bar-item w3-button w3-mobile" href="/">Main</a>
        {% if request.user.is_staff %}
            <a class="w3-bar-item w3-button w3-mobile" href="{% url 'orders' %}">Orders</a>
        {% endif %}
        <a class="w3-bar-item w3-button w3-mobile w3-right" href="{% url 'cart' %}">Cart {% if cart_items %}(<div id="cart_items_amount" style="display:inline">{{ cart_items }}</div>){% endif %}</a>
    </div>

    <div class="w3-main w3-content w3-padding" style="max-width:1200px">
        <div class="w3-row-padding w3-padding-16 w3-center">
            {% block content_home %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
