{% extends 'home.html' %}

{% block content_home %}
    {{ order.payment_method }}<br>
    {{ order.delivery_method }}<br>
    {{ order.name }}<br>
    {{ order.surname }}<br>
    {{ order.patronymic }}<br>
    {{ order.address }}<br>
    {{ order.email }}<br>
    {{ order.phone }}<br>
    {{ order.comment }}<br>
    {{ order.status }}<br>
    <br><br>Products:
    {% for product in products %}
        {% include 'product.html' %}
    {% endfor %}
    <br><br>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
